<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <h1>Menu</h1>
    </mat-drawer>

    <!-- <app-toolbar></app-toolbar> -->
    <mat-toolbar color="primary">

        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>My App</span>

        <button mat-icon-button>
            <mat-icon>file_download</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>

    </mat-toolbar>


    <h1>Hola! Soy la página de inicio</h1>

</mat-drawer-container>